body {
    font-family: Arial, sans-serif;
    background: #f7f7f9;
    padding: 20px;
}

#controls {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

#result ul {
    list-style-type: none;
    padding: 0;
}

#result li {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}